h1 {
    color: rgba(113, 73, 207, 0.9);
    background-color: rgba(164, 153, 194, 0.534);
    border-radius: 30px;
    text-align: center;
    margin: 20px 0;
}
h2 {
    color: rgba(113, 73, 207, 0.9);
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.836);
    border-radius: 15px;
    text-align: center;
    margin: 20px 0;
}
.post {
    margin: 15px 30px;
    padding: 15px 30px;
    border-bottom: 1px solid #532ea8;  
}
footer {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    background-color: rgba(164, 153, 194, 0.534);
}
img {
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(113, 73, 207, 0.9);
}
body {
    background-color: rgb(195, 196, 255);
    font-family: sans-serif;
}
a:link {
    color: rgb(0, 0, 0);
}
a:hover {
    color: rgb(53, 54, 112);
}
.mi-caja {
    display: block;
    width: fit-content;
    border: 1px solid #007bff;
    background-color: #9184db44;
    padding: 15px;
    margin: 20px auto;
    border-radius: 5px;
    max-width: 600px;
}
.caja {
    display: inline-block;
    width: fit-content;
    border: 1px solid #007bff;
    background-color: rgba(164, 153, 194, 0.534);
    padding: 15px;
    margin: 20px auto;
    border-radius: 5px;
}
.ident {
    margin-left: 35px;
}
.contenedor {
    display: flex;
    align-items: center;
    gap: 20px;
}
.texto {
    margin: 0;
}
@media screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        align-items: flex-start;
    }
    img {
        width: 100%;
        height: auto;
    }
}

